<p>list-patients works!</p>
 <div>
  <ul *ngFor = "let patient of patients let i = index">
    <li>
      (index {{i}}) - (Unique ID: {{patient._id}}) ... (Last Name: {{patient.firstName  }}) ... (Perscription ID: {{patient.lastName}})... 
      Perscription Refills Left is: {{i}}.... 
      Perscription Status is: Ready
      <button mat-button color="warn" (click)="onDelete(patient._id)">DELETE</button>
      <button mat-button color="accent" [routerLink]="['/editPatient', patient._id]">UPDATE</button>
    </li>
  </ul>
</div>